

{% block content %}

  {% if form.errors %}
    <p>Имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>У вашей учетной записи нет доступа к этой странице. Чтобы продолжить,
          пожалуйста, войдите в систему с учетной записью, у которой есть доступ.</p>
    {% else %}
      <p>Пожалуйста войдите, чтобы увидеть эту страницу.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Забыли пароль??</a></p>

{% endblock %}