{% extends 'base.html' %}

{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    Почему так важно вести учет расходов и доходов?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    В первую очередь для того, чтобы деньги чувствовать, потому что когда вы не отслеживаете это все,
                    когда вы не отмечаете доходы, расходы, то у вас получается ситуация,при которой вы не знаете,
                    сколько вы тратите, вы не знаете, сколько вы зарабатываете, вы не знаете, сколько денег уходит.
                    <br>
                    А когда вы начинаете это все подсчитывать то вы видите сразу какая у вас ситуация. Иногда у вас
                    может быть вообще так, что вы тратите больше чем зарабатываете.
                    <br>
                    Также есть статистика, что <strong>те люди, которые ведут учет доходов и расходов, учет финансов,
                    они тратят автоматически сразу же на 10-15 % меньше после того, как начинают вести учет, т.е. учет
                    финансов это в том числе и способ себе сократить траты.</strong>
                    <br>
                    В заключение хотелось бы отметить простой момент, что <strong>если вы что-то не контролируете, если
                    вы что-то не измеряете и не наблюдаете за этим, то вы, соответственно, этим не управляете.</strong>
                    Следовательно, <strong> учет финансов - это первый шаг к управлению своими деньгами, поэтому ведите
                    учет, записывайте, все считайте и увидите как ваши финансовые показатели будут расти.</strong>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    В чем суть ведения учета?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Иногда кажется, что главная задача учета
                    финансов - это постоянное отслеживание, сколько потрачено и сколько заработано. На самом деле
                    учет финансов – это выработка дисциплины и ежедневного контроля, т.е. ежедневный отчет
                    самому себе, о том что, как и куда потрачено.
                    <br>
                    Разумеется таким образом можно создавать разные отчеты для себя, и подводить итоги расходов раз в
                    неделю или раз в месяц, тем самым более детально и подробно быть в курсе движения ваших денежных
                    средств.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    О сервисе
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Это Web - приложение создано с целью помочь людям контролировать свои расходы, не тратя при этом
                    достаточно больших усилий. Дизайн подобран исключительно для того, чтобы как можно меньше времени
                    тратить на знакомство с интерфейсом, исключая ненужные кнопки и поля ввода. Тем самым позволяя
                    пользователю на все <strong>100%</strong>
                    погрузится в процесс учета финансов, получая при этом удовольствие!
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Как пользоваться Cashapp?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    1) Для начала Вам будет необходимо зарегистрироваться в системе. Это сделано для удобства,
                    чтобы Ваши записи хранились в базе данных, и Вы могли в любой подходящий момент получить к ним
                    доступ
                    абсолютно на любом устройстве. Да, Вы не ослышались. Наш сервис содержит адаптивный web-дезайн, что
                    позволит Вам с удобством использовать его на таких платформах как: Windows, Apple MacOs, Linux,
                    Android, Apple IOS. Дополнительно встроенная кросс-браузерная поддержка также не оставит Вас
                    равнодушными. Можете не беспокоится насчет безопасности Ваших данных. Сервис выполнен с учетом таких
                    международных стандартов безопасности как:
                    <strong>ISO/IEC 15408</strong> и <strong>NIST SP 800-53</strong>. <strong style="color: red">Важно:
                    Мы не собираем данные о пользователях и не передаем их третьим лицам!</strong>
                    <br>
                    2) В графе <strong>"Текущий баланс"</strong> отображается Ваш баланс на текущий момент времени с
                    учетом
                    всех трат и
                    пополнений. Для удобства этот индикатор станет красным, когда Ваш баланс будет ниже 0. Это напомнит
                    Вам, что финансово не безопасно находится в таком положении т.к Вы тратите больше чем,
                    зарабатываете.
                    <br>
                    3) Под графой <strong>"Введите сумму"</strong> находится поле в которое будет необходимо вводить
                    сумму,
                    чтобы занести ее в учет.
                    <br>
                    4) Справа от графы <strong>"Введите сумму"</strong> находится графа <strong>"Тип данных"</strong> в
                    котором Вы указываете к какому типу
                    финансовой операции(<strong>"Пополнение"</strong> или <strong>"Расход"</strong>) будет относится
                    Ваша сумма.
                    <br>
                    5) Снизу от графы <strong>"Введите сумму"</strong> находится графа <strong>"Добавить
                    описание"</strong> в которой Вы можете описать
                    <strong>на что именно</strong> идет эта финансовая операция.
                    <strong>Совет:</strong> старайтесь описать операцию <strong>коротко</strong> и <strong>по
                    существу</strong>, без лишних слов. Так спустя время Вам
                    будет проще и быстрее понять на что именно была сделана эта операция.
                    <br>
                    6) Справа от графы <strong>"Тип данных"</strong> находится кнопка <strong>"Добавить"</strong>,
                    нажимая на которую введенная Вами финансовая операция попадет в базу данных и обработается.
                </div>
            </div>
        </div>
    </div>
{% endblock %}