{% extends 'base.html' %} {% block content %}
    <div class="card mb-3 shadow">
        <div class="card-header">
            <h4>Текущий баланс <span
                    class="badge text-bg-{% if balance > 0 %}success{% elif balance == 0 %}info{% else %}danger{% endif %} shadow">{{ balance }}₽</span>
            </h4>
        </div>
        <div class="card-body">
            {% include 'balance/components/form.html' %}
        </div>
    </div>

    <div class="card shadow">
        <div class="card-header">
            <h4>Последние изменения</h4>
        </div>
        <div class="card-body">
            {% include 'balance/components/table.html' %}

            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-primary" href="{% url 'payments_list' %}">Смотреть все</a>
            </div>
        </div>
    </div>
{% endblock %}
