{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Cashapp - управляй бюджетом.</h1>
            <p class="lead">
                Создай аккаунт и получи удобный инструмент для контроля расходов, платежей и поступлений. Удобные отчеты, интеграции и тд.
            </p>

            <figure style="margin-top: 5rem">
                <blockquote class="blockquote">
                  <p>У мудреца должны быть деньги в голове, но не в сердце</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Джонатан Свифт
                </figcaption>
              </figure>
          </div>

          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
            <img class="rounded-lg-3" src="{% static 'balance/images/dollars.jpg' %}" width="720">
          </div>
        </div>
      </div>
      

{% endblock %}