{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1"></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                prose
                here.</p>
        </div>
        <div class="col-md-5">

        </div>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-7">
                    <h1 class="display-5 fw-bold">Cashapp - simple way to control payments history</h1>

                </div>
                <div class="col-5">
                    <img src="{% static 'balance/images/dollars.jpg' %}">
                
                </div>
            </div>
        </div>
    </div>

{% endblock %}