{% extends 'registration/base.html' %}

{% block content %}
{{ block.super }}

<main class="form w-100 m-auto">
  {% if validlink %}

  <div class="card">
    <div class="card-body">
      <h1 class="h3 mb-3 fw-normal card-title">Восстановление пароля</h1>
      <form method="post">
        {% csrf_token %}

        <div class="form-group">
          <label>Новый пароль</label>
          <input class="form-control" type="password" name="new_password1">
        </div>
        {{ form.errors.new_password1 }}

        <div class="form-group">
          <label>Подтвердите пароль</label>
          <input class="form-control" type="password" name="new_password2">
        </div>
        {{ form.errors.new_password2 }}

        <button class="w-100 btn btn-primary mt-3">Продолжить</button>
      </form>
    </div>
  </div>

  {% else %}
  <div class="alert alert-danger">
    <h4 class="alert-heading">Ошибка сброса пароля</h4>
    <p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, заново
      запросите сброс пароля.</p>
  </div>
  {% endif %}
</main>
{% endblock %}