{% extends 'simple.html' %}
{% block header %}
<nav class="navbar bg-body-tertiary">

      <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Cashapp</span>
           {% if user.is_authenticated %}
           <li>Пользователь: {{ user.get_username }}</li>
           <li><a href="{% url 'logout' %}">Выйти из аккаунта</a></li>
           {% else %}
           <li><a href="{% url 'login' %}?next={{ request.path }}">Войти в аккаунт</a></li>
           {% endif %}
      </div>
      </nav>
{% endblock %}